header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 100px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    z-index: 10;
}

header.sticky {
    height: 60px;

}

header .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    background-repeat: repeat;

    /* transition: 1s; */
    background-image: url('../../assets/bg_black.webp'),
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 100%);
    opacity: 1;
}

header .banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    background-color: black;
    opacity: 0.8;

    border-bottom: rgba(255, 39, 95, 0);
    border-width: 0px;
    border-style: solid;
}

header.sticky .banner {
    transition: 2s;
    opacity: 0;
}

header.sticky .banner__overlay {
    transition: 2s;
    width: 100vw;
    background-color: rgb(6, 1, 22, 0.95);
    opacity: 0.9;


    border-image: linear-gradient(45deg, rgba(0, 194, 255, 0.5), rgba(250, 0, 255, 0.6)) 1;
    border-width: 0 0 2px 0;
    border-style: double;

    filter: drop-shadow(0px 0px 10px #4444dd);

}


header .logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: var(--font-button);
    font-size: 10vw;
    color: #fff;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
}

header .bush {
    position: absolute;
    background: linear-gradient(45deg, rgba(0, 194, 255, 1), rgba(250, 0, 255, 1));
    /* color: #ff275f; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

header .bushen__bg {

    background: linear-gradient(45deg, rgba(0, 194, 255, 1), rgba(250, 0, 255, 1));
    /* background: white; */
    filter: blur(25px);

    opacity: 0.5;
    z-index: 4;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

header.sticky .bush {
    background: linear-gradient(45deg, rgba(0, 194, 255, 1), rgba(250, 0, 255, 1));
    /* color: #ff275f; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header.sticky .logo {
    top: 50%;
    position: absolute;
    font-size: 1.5em;
    left: 100px;
    transform: translate(-0%, -50%);
}

nav {
    position: relative;
    display: flex;
}

nav ul {
    font-family: var(--font-button);
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
    visibility: hidden;
}

header.sticky nav ul {
    transform: translateX(0);
    transition-delay: 0.2s;
    opacity: 1;
    visibility: visible;
}

header.sticky nav ul {
    transform: translateX(0);
    transition-delay: 0.2s;
    opacity: 1;
    visibility: visible;
}

/* NAV MOBILE*/

nav {
    position: relative;
    display: flex;
    z-index: 1;

}

nav ul {
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
    visibility: hidden;
    align-items: center;
}


nav ul li {
    list-style: none;

}


nav ul li a {
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    font-size: 0.8em;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff275f;
}

nav ul li div {
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    font-size: 0.8em;
    text-decoration: none;
}

nav ul li div:hover {
    color: #ff275f;
}

.nav__social {
    display: none;
}

.mouse_icon__container {
    display: grid;

    z-index: 11;
    position: fixed;
    justify-self: center;
    align-items: center;
    top: 80vh;
    margin: 0 auto;
    width: 100vw;
}

.mouse_icon__button {
    width: 100px;
    justify-self: center;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.mouse_icon__button:hover {
    cursor: pointer;
}

.mouse_icon {
    display: flex;
    width: 100px;
    justify-self: center;

    -webkit-animation: heartbeat 1.5s steps(3, start) 3s infinite both;
    animation: heartbeat 1.5s steps(3, start) 3s infinite both;
}


.nav {
    margin-right: -3rem;
}



@media only screen and (max-width: 1025px) {
    header {
        padding: 40px;

    }

    header.banner__overlay {}

    header .banner {}

    header.sticky .logo {
        left: 40px;
        font-size: 1.2em;
    }


    header.sticky nav ul {
        font-size: 2em;
    }

    header.sticky .toggle {
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        /* background: #fff url('../../assets/menu.png'); */
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
    }

    header.sticky .toggle.active {
        /* background: #fff url('../../assets/close.png'); */
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* NAV DESKTOP*/

    nav.active ul {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100vw;
        height: calc(100%);
        background: rgba(0, 0, 0, 0.95);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }






    .mouse_icon__container {
        top: 82.5vh;
    }

    .mouse_icon__button {
        width: 80px;
    }

    .mouse_icon {
        width: 80px;
    }

    @keyframes blur-change {
        from {
            filter: blur(10px);
        }

        to {
            filter: blur(100px);
        }
    }
}



@media only screen and (min-width: 1280px) {
    .nav__social {
        display: unset;
    }
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}